version: "2"
services:
  node:
    image: "node:17"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=dev
    volumes:
      - ./:/home/node/app
    ports:
      - "1313:1313"
    command: [ "npm prebuild", "npm build" ]
