<!--Favicon-->
<link
  rel="shortcut icon"
  href="{{ .Site.Params.favicon | absURL }}"
  type="image/x-icon"
/>
<link
  rel="icon"
  href="{{ .Site.Params.favicon | absURL }}"
  type="image/x-icon"
/>

<!-- plugins -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
{{ range .Site.Params.plugins.css }}
  <link
    rel="stylesheet"
    href="{{ .link | absURL }}"
    {{ .attributes | safeHTMLAttr }}
  />
{{ end }}

{{ $style := resources.Get "style.css" }}
<link rel="stylesheet" href="{{ $style.Permalink }}" />

{{ $syntax := resources.Get "syntax.css" }}
<link rel="stylesheet" href="{{ $syntax.Permalink }}" />

{{ partial "fonts" . }}

