{{ define "main" }}
  <div class="flex flex-col items-center">
    {{ partial "blog/header" . }}
    <div id="blog-post-content" class="max-w-3xl text-lg px-5 lg:px-0 my-16">
      {{ .Content | markdownify }}
      <a class="flex group items-center gap-x-2 mt-8" href="{{ site.BaseURL }}blog">
        <img 
          src="{{ site.BaseURL }}svg/arrow_forward_orange.svg" 
          alt="arrow"
          class="group-hover:-translate-x-2 transition-all rotate-180"
        >
        <span class="text-gradient mt-[2px] font-medium font-graphik">
          Blog overview
        </span>
      </a>
    </div>
  </div>
{{ end }}