{{ $current := .Page.RelPermalink }}
{{ with site.Data.site.footer.navigation }}
  <div class="flex flex-col items-center justify-center bg-dark lg:py-32 py-12 lg:px-12 px-5 
  border-t border-t-gray/50">
    <div class="container flex flex-col gap-y-10">
      <div class="flex lg:flex-row flex-col-reverse gap-y-10">
        <div class="lg:w-1/2 w-full flex flex-col gap-y-4">
          <h3 class="text-white text-2xl font-medium lg:text-[32px] lg:leading-[44px]">{{ .title }}</h3>
          <p class="text-white opacity-70 lg:max-w-[70%] mb-4">{{ .text }}</p>
          {{ partial "buttons/secondary-white" (dict
            "icon" "/svg/slack.svg"
            "url" .button.url
            "text" .button.text
            "external" true
          ) }}
        </div>
        <div class="lg:w-1/2 w-full flex flex-col gap-y-3">
          <a href="/" class="font-medium font-graphik w-fit hover:opacity-70 text-base lg:text-lg 
          leading-tight {{ if eq $current "/" }} text-gradient {{ else }} text-white {{ end }}">
            Home
          </a>
          {{ range site.Menus.main }}
            <a 
              href="{{ .URL }}" 
              class="font-medium font-graphik w-fit hover:opacity-70 text-base lg:text-lg 
              leading-tight {{ if eq $current .URL }} text-gradient {{ else }} text-white {{ end }}"
              {{ with .Params.rel }}rel="{{ . }}" target="_blank"{{ end }}
            >
              {{ .Name }}
            </a>
        {{ end }}
        </div>
      </div>
      <div class="border-t border-t-gray/50 pt-8 flex lg:flex-row flex-col lg:justify-between
      items-center gap-y-8">
        <a href="/">
          <img src="/images/score-logo-white.svg" alt="{{ site.Title }}">
        </a>
        <span class="flex flex-col lg:flex-row text-white font-graphik text-sm 
        items-center justify-center text-center gap-2">
          We are a Cloud Native Computing Foundation sandbox project
          <a href="https://www.cncf.io/projects/score/" class="CNCF Score">
            <img src="/images/cncf-white-1.svg" alt="Humanitec Logo" class="max-w-[75%] lg:max-w-none mx-auto">
          </a>
        </span>
      </div>
    </div>
  </div>
{{ end }}