@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-orange bg-clip-text text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-orange;
  }

  h1 {
    @apply text-[36px] leading-[44px] lg:text-[56px] lg:leading-[62px] lg:font-medium 
    text-dark font-grostesk;
  }

  h2 {
    @apply text-[24px] leading-[30px] lg:text-[42px] lg:leading-[44px] lg:font-medium 
    text-dark font-grostesk;
  }

  h3 {
    @apply text-[18px] leading-[24px] lg:text-[32px] lg:leading-[36px] lg:font-medium 
    text-dark font-grostesk;
  }

  h4 {
    @apply text-[16px] leading-[20px] lg:text-[18px] lg:leading-[22px] lg:font-bold 
    text-dark font-grostesk;
  }

  p {
    @apply text-[16px] leading-[24px] text-dark font-graphik;
  }

  blockquote {
    @apply text-[24px] leading-[32px] text-dark font-graphik bg-primary/5 
    border-l-4 border-primary/50 rounded-md px-3 py-2 mb-4;
  }

  code,
  .code {
    @apply text-[16px] leading-[28px] text-dark font-ibm-plex-mono;
  }

  .highlight-code {
    @apply text-orange font-ibm-plex-mono;
  }

  .how-it-works-title-code {
    @apply text-[18px] leading-[24px] lg:text-[32px] lg:leading-[36px] text-dark font-ibm-plex-mono;
  }

  .tab-active {
    @apply !text-primary !border-b-primary !bg-primary/10;
  }

  .tab-pane-active {
    @apply !block;
  }

  .tab-pane-active a {
    @apply text-primary hover:underline;
  }

  #why-score-content p,
  #get-started-content p {
    @apply text-black/70 text-base lg:text-lg mb-4;
  }

  #get-started-content h2 {
    @apply text-black mb-8;
  }

  #get-started-content strong {
    @apply text-black font-bold;
  }

  #blog-post-content p {
    @apply text-black text-base lg:text-lg mb-4;
  }

  #blog-post-content blockquote p {
    @apply text-black text-base lg:text-lg mb-0;
  }

  #blog-post-content a {
    @apply text-gradient hover:text-primary hover:underline hover:bg-none;
  }

  #blog-post-content h1,
  #blog-post-content h2 {
    @apply text-black mb-6;
  }

  #blog-post-content h3 {
    @apply text-black mb-6;
  }

  #blog-post-content h4 {
    @apply text-black mb-4;
  }

  #blog-post-content h5,
  #blog-post-content h6 {
    @apply text-black font-bold mb-2;
  }

  #blog-post-content ol,
  #blog-post-content ul {
    @apply mb-4;
  }

  #blog-post-content li {
    @apply text-black text-base lg:text-lg font-graphik;
  }

  #blog-post-content code:not(pre code) {
    @apply text-primary bg-lightgray rounded-md px-2;
  }

  #blog-post-content ul li {
    @apply list-disc;
  }

  #blog-post-content ol li {
    @apply list-decimal;
  }

  #blog-post-content figure {
    @apply mb-4;
  }
}
