@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-orange bg-clip-text text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-orange;
  }

  h1 {
    @apply text-[36px] leading-[44px] lg:text-[56px] lg:leading-[62px] lg:font-medium 
    text-dark font-grostesk;
  }

  h2 {
    @apply text-[24px] leading-[30px] lg:text-[42px] lg:leading-[44px] lg:font-medium 
    text-dark font-grostesk;
  }

  h3 {
    @apply text-[18px] leading-[24px] lg:text-[32px] lg:leading-[36px] lg:font-medium 
    text-dark font-grostesk;
  }

  h4 {
    @apply text-[16px] leading-[20px] lg:text-[18px] lg:leading-[22px] lg:font-bold 
    text-dark font-grostesk;
  }

  p {
    @apply text-[16px] leading-[24px] text-dark font-graphik;
  }

  code,
  .code {
    @apply text-[16px] leading-[28px] text-dark font-ibm-plex-mono;
  }

  #why-score-content p {
    @apply text-black/70 text-base lg:text-lg mb-4;
  }
}

@font-face {
  font-family: "Grostesk";
  src: url("/fonts/grostesk/FamiljenGrotesk-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Grostesk";
  font-style: italic;
  src: url("/fonts/grostesk/FamiljenGrotesk-VariableItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  font-style: italic;
  src: url("/fonts/graphik/GraphikRegularItalic.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikBold.otf") format("opentype");
  font-weight: 700;
}
