@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-primary to-orange bg-clip-text text-transparent;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-primary to-orange;
  }
}

@font-face {
  font-family: "Grostesk";
  src: url("/fonts/grostesk/FamiljenGrotesk-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Grostesk";
  font-style: italic;
  src: url("/fonts/grostesk/FamiljenGrotesk-VariableItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  font-style: italic;
  src: url("/fonts/graphik/GraphikRegularItalic.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik/GraphikBold.otf") format("opentype");
  font-weight: 700;
}
