{{ $seo_data := site.Data.companyprofile.search_engine_optimization }}
{{ $desc := cond (isset .Params "description") .Params.description $seo_data.description }}
{{ $title := cond (isset .Params "title") .Params.title $seo_data.title }}
{{ $image := cond (isset .Params "image") .Params.image site.Data.companyprofile.logos.navbar }}


<!-- Open Graph -->
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:type" content="{{ .Kind }} page" />
<meta property="og:title" content="{{ $title | plainify }}" />
<meta property="og:description" content="{{ $desc | plainify }}" />
<meta property="og:image" content="{{ $image | absURL }}" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title | plainify }}" />
<meta
  name="twitter:description"
  content="{{ truncate 120 "..." ($desc | plainify) }}"
/>
<meta name="twitter:image" content="{{ $image | absURL }}" />
