{{ $seo_data := site.Data.companyprofile.search_engine_optimization }}
{{ $desc := cond (isset .Params "description") .Params.description $seo_data.description }}
{{ $keywords := cond (isset .Params "keywords") .Params.keywords $seo_data.keywords }}
<meta charset="utf-8" />
<title>
  {{ $seo_data.title }}{{ with .Title }}
    -
    {{ . }}
  {{ end }}
</title>
<meta name="description" content="{{ with $desc }}{{ . }}{{ end }}" />
<meta
  name="keywords"
  content="{{ with $keywords }}{{ delimit . ", " }}{{ end }}"
/>
