<style>
  @font-face {
  font-family: "Grostesk";
  src: url({{ print site.BaseURL "fonts/grostesk/FamiljenGrotesk-Variable.ttf" }}) format("truetype");
}

@font-face {
  font-family: "Grostesk";
  font-style: italic;
  src: url({{ print site.BaseURL "fonts/grostesk/FamiljenGrotesk-VariableItalic.ttf" }}) format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url({{ print site.BaseURL "fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf" }}) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url({{ print site.BaseURL "fonts/graphik/GraphikRegular.otf" }}) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  font-style: italic;
  src: url({{ print site.BaseURL "fonts/graphik/GraphikRegularItalic.otf" }}) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Graphik";
  src: url({{ print site.BaseURL "fonts/graphik/GraphikMedium.otf" }}) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Graphik";
  src: url({{ print site.BaseURL "fonts/graphik/GraphikSemibold.otf" }}) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Graphik";
  src: url({{ print site.BaseURL "fonts/graphik/GraphikBold.otf" }}) format("opentype");
  font-weight: 700;
}
</style>