<!-- JS Plugins -->
{{ range site.Params.plugins.js }}
  <script src="{{ .link | absURL }}" {{ .attributes | safeHTMLAttr }}></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/main.js" | minify | fingerprint "sha512"}}
<script 
  src="{{ $script.Permalink }}" 
  integrity="{{ $script.Data.Integrity }}" 
  crossorigin="anonymous"
></script>

<!-- Other Scripts -->
{{ $tabs := resources.Get "js/tabs.js" | minify | fingerprint "sha512"}}
<script 
  src="{{ $tabs.Permalink }}" 
  integrity="{{ $tabs.Data.Integrity }}" 
  crossorigin="anonymous"
></script>