<div class="grid grid-cols-2 gap-8">
  <a class="overflow-hidden rounded-2xl h-fit" href="{{ .RelPermalink }}">
    <img 
      src="{{ with .Resources.Get .Params.image }}{{ .RelPermalink }}{{ end }}" 
      alt="{{ .Title }}" 
      class="w-full h-[120px] object-cover hover:scale-105 transition-all"
    >
  </a>
  <div class="flex flex-col">
    <p class="text-gray font-ibm-plex-mono uppercase flex items-center text-xs">
      {{ time.Format "January 2, 2006" .Date }}
    </p>
    <a href="{{ .RelPermalink }}">
      <h2 class="text-black text-xl font-medium mt-1 leading-[1.2] hover:text-primary transition-all">
        {{ .Title }}
      </h2>
    </a>
    <a class="flex group items-center gap-x-2 w-full mt-2" href="{{ .RelPermalink }}">
      <span class="text-gradient font-medium font-graphik">
        Read more
      </span>
      <img 
        src="/svg/arrow_forward_orange.svg" 
        alt="arrow"
        class="group-hover:translate-x-2 transition-all"
      >
    </a>
  </div>
</div>